Source: wb-rules
Maintainer: Nikita webconn Maslov <n.maslov@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-rules
Architecture: armel armhf amd64 i386
Depends: libc6 (>= 2.13), ${misc:Depends}
Breaks: wb-mqtt-confed (<< 1.0.2)
Description: Wiren Board Rule Engine
