Source: wb-rules
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Multi-Arch: foreign
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, golang-go:native
Homepage: https://github.com/wirenboard/wb-rules

Package: wb-rules
Architecture: any
Depends: libc6 (>= 2.13), ${misc:Depends}
Breaks: wb-mqtt-confed (<< 1.0.2), wb-rules-system (<< 1.6.13), wb-mqtt-dac (<< 1.1.2)
Description: Wiren Board Rule Engine
